.topnav {
    overflow: hidden;
    background-color: #13c3f8;
    position: relative;
    text-align: center;
    float: center;
}
.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.topnav a.icon {
  background: rgb(16, 222, 236);
  color: chocolate;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: rgb(9, 68, 122);
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}